@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .buy-car .services-items {
        margin-bottom: 30px;
    }
    .new-car .services-items {
        margin-bottom: 30px;
    }
    .buy-car {
        margin-bottom: 70px;
    }
    .new-car {
        margin-bottom: 70px;
    }
    .special-car {
        padding: 70px 0;
    }


    
}
@media (min-width: 992px) {
    .buy-car {
        margin-bottom: 96px;
    }
    .new-car {
        margin-bottom: 96px;
    }
    .special-car {
        padding: 100px 0;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
}
