@media (min-width:768px) {
	.feedback-slider-inner .swiper-pagination-bullet {
	  margin-top: 28px
	}
	.feedback {
	  margin-bottom: 70px
	}
  }
  @media (min-width:992px) {
	.feedback {
	  margin-bottom: 80px
	}
  }
  @media (min-width:1200px) {
	.feedback {
	  margin-bottom: 96px
	}
  }