@media (min-width: 576px) {
  .buyback-car-box-box{
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .info-car .filter-control-link-more{
    justify-content: center;
  }
  .buyback-car-box-box{
    max-width: 720px;
  }
  .page-bg.buyback{
    height: calc(100% - 374px);
  }
  .info-car .filter-wrapper{
    padding: 48px 30px;
  }
  .info-car{
    margin-bottom: 70px;
  }
  .sliders.buyback img{
    height: 100%;
  }
  .feedback-short-info-title {
    font-size: 24px;
  }
  .feedback-short {
    padding: 48px 0;
  }
  .feedback-short {
    margin-bottom: 70px;
  }
  .sliders.buyback .sliders-inner {
    margin-bottom: 48px;
  }
  .sliders.buyback .sliders-info-wrapper {
    top: auto;
    bottom: -30px;
    max-width: 345px;
  }
  .sliders.buyback {
    .sliders-info-wrapper::after {
      top: 40px;
    }
  }
  .faq {
    padding: 70px 0;
    margin-bottom: 70px;
  }
  .buyback-car {
    margin-bottom: 70px;
  }
  .buyback-car-form {
    padding: 48px 0;
  }
  .buyback-car-form-title {
    font-size: 32px;
    line-height: 40px;
  }
  .web-form-item input:placeholder-shown + label.web-form-label-desk,
  .web-form-item textarea:placeholder-shown + label.web-form-label-desk {
    display: flex;
  }
  .web-form-item input:placeholder-shown ~ label.web-form-label-mob,
  .web-form-item textarea:placeholder-shown ~ label.web-form-label-mob {
    display: none;
  }
  .info-car-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .info-car .filter-control-link-more,
  .info-car .web-check,
  .info-car .filter-control {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .procedures {
    margin-bottom: 70px;
  }
  .procedures-wrapper {
    padding: 70px 0;
  }
  .web-form-item label {
    padding-left: 24px;
  }

  .procedures-items > .row > div + div {
    margin: 0;
  }

  .procedures-items > .row > div.col-md-4:nth-child(n + 4) {
    margin: 60px 0 0 0;
  }

  .procedures-items > .row > div + div .procedures-item::before {
    top: 31px;
    right: 50%;
    bottom: auto;
    left: auto;
    display: block;
    width: calc(100% - 72px);
    height: 2px;
    margin: 0 47px 0 0;
  }

  .procedures-items > .row > div.col-md-4:nth-child(3n + 1) .procedures-item::before {
    display: none;
  }
  .procedures-item {
    background-color: transparent;
  }

  .procedures-item {
    padding: 0;
  }
  .buyback-title {
    margin-bottom: 30px
  }
  .buyback-car-img {
    max-width: 580px;
  }
  .buyback-car-img-info {
    width: 140px;
    height: 140px;
    font-size: 32px;
    line-height: 24px;

    span {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .buyback-car-form-inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .buyback-car-form .btn {
    width: fit-content;
    margin: 0 auto;
    display: block;
  }
  .sliders.buyback .sliders-info-wrapper {
    padding: 48px 30px;
  }
  .feedback-short-form {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter-control .btn {
    width: auto;
  }
  .info-car-tabs {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-car-tab-head {
    display: flex;
  }
}
@media (min-width: 992px) {
  .buyback-car-box-box{
    max-width: 100%;
    padding: 0;
  }
  .buyback-car-inner{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 410px);
    width: 100%;
    gap: 0 24px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  .page-bg.buyback{
    height: 100%;
  }
  .info-car .filter-wrapper{
    padding: 48px 60px;
  }
  .info-car{
    margin-bottom: 70px;
  }
  .feedback.bg {
    padding: 70px 0;
  }
  .feedback-short {
    margin-bottom: 80px;
  }
  .sliders.buyback .sliders-inner {
    margin-bottom: 80px;
  }
  .faq {
    padding: 80px 0;
    margin-bottom: 80px;
  }
  .buyback-car {
    margin-bottom: 80px;
  }
  .procedures {
    margin-bottom: 80px;
  }
  .procedures-wrapper {
    padding: 80px 0;
  }



  .buyback-car-img {
    margin-bottom: 0;
  }
  .buyback-title {
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .buyback-car-form {
  }
  .buyback-car-form-inputs {
    grid-template-columns: 1fr;
  }

}
@media (min-width: 1200px) {
  .buyback-car-inner{
    max-width: 1140px;
    gap: 0 48px;
  }
  .info-car{
    margin-bottom: 96px;
  }

  .buyback-title {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .procedures-items > .row > div.col-xl-2:nth-child(n + 4) {
    margin: 0;
  }

  .procedures-items > .row > div.col-xl-2:nth-child(n + 7) {
    margin: 60px 0 0 0;
  }

  .procedures-items > .row > div.col-xl-2:nth-child(3n + 1) .procedures-item::before {
    display: block;
  }

  .procedures-items > .row > div.col-xl-2:nth-child(6n + 1) .procedures-item::before {
    display: none;
  }
  .feedback.bg {
    padding: 96px 0;
  }
  .feedback-short {
    padding: 52px 0;
  }
  .feedback-short-inner {
    grid-template-columns: minmax(auto, 481px) 1fr;
    gap: 30px;
  }
  .feedback-short-info {
    grid-template-columns: 48px 1fr;
    align-items: center;
  }
  .feedback-short-info-title {
    text-align: left;
  }
  .feedback-short {
    margin-bottom: 96px;
  }
  .sliders.buyback .sliders-inner {
    margin-bottom: 96px;
  }
  .sliders.buyback .sliders-info-title {
    font-size: 32px;
  }
  .sliders.buyback .sliders-info-wrapper::after {
    top: 11px;
  }
  .sliders.buyback .sliders-info-wrapper {
    max-width: 645px;
  }
  .faq {
    padding: 96px 0;
    margin-bottom: 96px;
  }
  .buyback-car {
    margin-bottom: 96px;
  }
  .buyback-car-img {
    max-width: 660px;
  }
  .buyback-car-form .web-check {
    margin-top: 42px;
  }
  .buyback-car-form .btn {
    width: 100%;
  }

  .procedures {
    margin-bottom: 96px;
  }
  .procedures-wrapper {
    padding: 96px 0;
  }

  .info-car .filter-control-link-more,
  .info-car .web-check,
  .info-car .filter-control {
    grid-column: span 6;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .about-short-inner.simple {
    gap: 140px;
  }
  .sliders.buyback .sliders-info-wrapper {
    padding: 65px 60px;
    padding-left: 80px;
  }
  .info-car-tabs {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .buyback-car-inner{
    max-width: 1320px;
  }
  .feedback-short-inner{
    gap: 60px;
  }




  .info-car-box {
    grid-template-columns: repeat(6, 1fr);
  }

  .about-short-inner.simple {
    grid-template-columns: minmax(auto, 520px) minmax(auto, 630px);
  }
  .about-short-inner.simple.right {
    gap: 250px;
  }
}
