@media (min-width:576px) {
	.footer-bottom {
	  padding: 12px 0 16px
	}
	.footer-bottom-inner {
	  flex-direction: row;
	  justify-content: space-between;
	  gap: 30px
	}
	.footer-top-items {
	  grid-template-columns: repeat(2,1fr)
	}
	.footer-top {
	  padding: 70px 0 40px
	}
  }
  @media (min-width:768px) {
	.footer-top {
	  padding: 70px 0
	}
	.footer-top-policy {
	  display: none
	}
	.footer-top-lists {
	  display: grid;
	  grid-template-columns: repeat(3,1fr);
	  gap: 40px 30px
	}
	.footer-top-items {
	  margin-bottom: 48px
	}
	.footer-top-list-title {
	  position: relative;
	  font-weight: 500;
	  font-size: 15px;
	  line-height: 24px;
	  text-transform: uppercase;
	  color: #fff;
	  margin-bottom: 24px;
	  padding-bottom: 18px;
	  font-family: Oswald,sans-serif
	}
	.footer-top-list-title::after {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 30px;
	  height: 2px;
	  background-color: #ff1e26
	}
	.footer-top-list-box {
	  font-weight: 400;
	  font-size: 14px;
	  line-height: 20px;
	  color: #fff;
	  gap: 0 12px
	}
	.footer-top-list-box a {
	  color: #fff;
	  display: block;
	  transition: .3s
	}
	.footer-top-list-box a:focus,
	.footer-top-list-box a:hover {
	  color: #9b9b9b
	}
	.footer-top-list-box a + a {
	  margin-top: 12px
	}
	.footer-top-list-tw {
	  grid-column: auto/span 2
	}
	.footer-top-list-tw .footer-top-list-box {
	  columns: 2;
	  column-gap: 30px
	}
  }
  @media (min-width:992px) {
	.footer-top-list-tw {
	  grid-column: auto
	}
	.footer-top-list-tw .footer-top-list-box {
	  columns: 1
	}
	.footer-top-lists {
	  grid-template-columns: repeat(5,1fr)
	}
	.footer-top-items {
	  grid-template-columns: repeat(4,1fr);
	  gap: 30px;
	  margin-bottom: 74px
	}
	.footer-top {
	  padding: 80px 0
	}
  }
  @media (min-width:1200px) {
	.footer-top-lists {
	  grid-template-columns: repeat(6,1fr);
	  gap: 40px
	}
	.footer-top-list-tw {
	  grid-column: auto/span 2
	}
	.footer-top-list-tw .footer-top-list-box {
	  columns: 2;
	  column-gap: 40px
	}
	.footer-top-items {
	  margin-bottom: 64px
	}
  }
  @media (min-width:1400px) {
	.footer-top-lists {
	  gap: 75px
	}
  }