@media (min-width: 576px){
    .used-car-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 30px;
    }
}
@media (min-width: 768px){
    .used-car{
        padding-bottom: 70px;
        .filter-wrapper{
            margin-bottom: 70px;
        }
    }
    .used-car-list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 992px){
    .used-car{
        padding-bottom: 80px;
        .filter-wrapper{
            margin-bottom: 80px;
        }
    }
    .used-car-list{
        grid-template-columns: repeat(4,1fr);
        gap: 48px 15px;
    }
}
@media (min-width: 1200px){
    .used-car{
        padding-bottom: 96px;
        .filter-wrapper{
            margin-bottom: 96px;
        }
    }
    .used-car-list{
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width: 1400px){

}