@media (min-width:576px) {
	.header-mobile-btn,
	ul.mobile-navigation-menu li span {
	  width: 100%;
	  max-width: 540px;
	  margin: 0 auto
	}
	.header-top-box .btn .mob {
	  display: none
	}
	.header-top-box .btn .desk {
	  display: block
	}
	.menu-btn {
	  margin-right: 30px
	}
  }
  @media (min-width:768px) {
	.mobile-navigation-sub-position {
	  height: calc(100vh - 64px)
	}
	.header-add {
	  top: 64px
	}
	.wrapper-page.add .content {
	  margin-top: 128px
	}
	ul.header-add-list {
	  padding: 19px 0
	}
	.header-top-box .btn .mob {
	  display: none
	}
	.header-top-box .btn .desk,
	.header-top-box .btn.desk {
	  display: block
	}
	.header-mobile-btn,
	ul.mobile-navigation-menu li span {
	  max-width: 720px
	}
	.header-top-box {
	  display: flex;
	  gap: 16px
	}
	.header-mobile-btn {
	  display: none
	}
	.header-logo img,
	.header-logo picture {
	  height: 48px
	}
	.header-wrapper {
	  padding: 8px 0
	}
	.header-bottom {
	  top: 64px;
	  height: calc(100% - 64px)
	}
	ul.mobile-navigation-menu {
	  height: calc(100vh - 174px)
	}
  }
  @media (min-width:992px) {
	.no-scroll-mobile .wrapper-page.add .header-wrapper {
	  box-shadow: none
	}
	.wrapper-page.add .content {
	  margin-top: 201px
	}
	.header-add {
	  top: 137px
	}
	.header-logo img,
	.header-logo picture {
	  width: 175px;
	  height: 88px
	}
	.menu-btn {
	  display: none
	}
	.header-bottom {
	  position: static;
	  top: 0;
	  left: 0;
	  overflow: visible
	}
	.header-mobile-adress {
	  display: none
	}
	ul.mobile-navigation-menu {
	  height: auto;
	  padding: 0;
	  flex-direction: row;
	  overflow: visible
	}
	ul.mobile-navigation-menu li {
	  width: auto
	}
	.header-top-inner {
	  display: flex;
	  justify-content: space-between
	}
	.header-top-box.desk {
	  display: flex;
	  gap: 40px
	}
	.header-inner {
	  display: grid;
	  grid-template-columns: auto 1fr;
	  justify-content: space-between;
	  gap: 40px
	}
	.ul.mobile-navigation-menu li span {
	  padding: 0;
	  max-width: none
	}
	ul.mobile-navigation-menu li + li {
	  border: none
	}
	ul.mobile-navigation-menu a {
	  padding: 0;
	  font-weight: 500
	}
	ul.mobile-navigation-menu li a:focus,
	ul.mobile-navigation-menu li a:hover {
	  background: 0 0;
	  color: #242424
	}
	.header-mobile-navigation ul > li > a span {
	  padding: 0
	}
	.mobile-navigation-sub-position ul > li > a span {
	  padding: 12px 0
	}
	.mobile-navigation-sub-position ul > li > a {
	  width: 100%;
	  display: block;
	  padding: 0 15px;
	  transition: .15s
	}
	.mobile-navigation-sub-position ul > li > a:focus,
	.mobile-navigation-sub-position ul > li > a:hover {
	  background: #b4b4bc;
	  color: #fff
	}
	.header-mobile-navigation ul > li.is-parent > a span::after {
	  display: none
	}
	.header-top {
	  padding: 16px 0;
	  border-bottom: 1px solid #eee
	}
	.header-wrapper {
	  padding: 0
	}
	.mobile-navigation-sub-position {
	  max-height: calc(100vh - 140px);
	  height: fit-content;
	  width: 100%;
	  max-width: 240px;
	  z-index: -1;
	  padding: 0;
	  background-color: #fff;
	  display: none;
	  overflow: visible;
	  width: fit-content;
	  box-shadow: 0 5px 10px rgba(0,0,0,.1);
	  left: -15px;
	  top: 100%;
	  opacity: 0;
	  transform: scaleY(0);
	  transition: opacity .15s
	}
	.mobile-navigation-sub-menu-heading {
	  display: none
	}
	li > .mobile-navigation-sub-position {
	  display: block
	}
	li > .mobile-navigation-sub-position .sub-sub {
	  display: none
	}
	.mobile-navigation-sub-position.active,
	.mobile-navigation-sub-position.current {
	  opacity: 0
	}
	.mobile-navigation-menu > li a {
	  padding: 24px 0
	}
	.mobile-navigation-menu li:hover .mobile-navigation-sub-position.active,
	.mobile-navigation-menu li:hover .mobile-navigation-sub-position.current {
	  opacity: 1
	}
	ul.mobile-navigation-menu > li > a span {
	  white-space: nowrap
	}
	ul.mobile-navigation-menu > li {
	  position: relative
	}
	.mobile-navigation-sub-position ul.mobile-navigation-sub-menu > ul > li > a > span {
	  white-space: normal
	}
	ul.mobile-navigation-menu li.is-parent span {
	  display: block;
	  max-width: 180px;
	  width: max-content;
	  margin: 0
	}
	.mobile-navigation-sub-position li {
	  display: block
	}
	.mobile-navigation-sub-position li + li {
	  border-top: 1px solid #eee
	}
	ul.mobile-navigation-sub-menu {
	  padding: 16px 0
	}
	.mobile-navigation-sub-position.current {
	  width: fit-content;
	  overflow: visible
	}
	.mobile-navigation-sub-menu {
	  max-height: calc(100vh - 140px);
	  overflow: auto
	}
	ul.mobile-navigation-menu {
	  justify-content: space-between;
	  align-items: center
	}
	ul.mobile-navigation-sub-menu > li > a::before {
	  display: none
	}
	ul.mobile-navigation-menu > li a::before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 18px;
	  background-color: #ff1e26;
	  width: 100%;
	  height: 2px;
	  opacity: 0;
	  transition: .3s
	}
	ul.mobile-navigation-menu > li a:focus::before,
	ul.mobile-navigation-menu > li a:hover::before {
	  opacity: 1
	}
	.content {
	  margin-top: 140px
	}
	.header-top-item {
	  font-size: 18px
	}
	.mobile-navigation-sub-menu li.active > a {
	  background: #b4b4bc;
	  color: #fff
	}
	ul.mobile-navigation-menu > li:hover .mobile-navigation-sub-position {
	  opacity: 1;
	  transform: scaleY(1)
	}
	.mobile-navigation-sub-position.active {
	  left: -15px
	}
	.mobile-navigation-sub-position.sub-sub {
	  top: 0;
	  box-shadow: 0 5px 10px rgba(0,0,0,.1);
	  left: 100%
	}
  }
  @media (min-width:1200px) {
	.header-top-inner {
	  gap: 30px
	}
	ul.mobile-navigation-menu li {
	  display: block;
	  width: auto
	}
	ul.mobile-navigation-menu > li:last-child::after {
	  content: "";
	  position: absolute;
	  right: -22px;
	  top: 0;
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 24px;
	  color: #ccc
	}
	.mobile-navigation-sub-position {
	  left: -30px
	}
	.mobile-navigation-sub-position ul > li > a {
	  padding-left: 30px;
	  padding-right: 30px
	}
	.header-top-item {
	  font-size: 20px
	}
	.mobile-navigation-sub-position.active {
	  left: -30px
	}
	.mobile-navigation-sub-position.sub-sub {
	  left: 100%
	}
	.header-logo img,
	.header-logo picture {
	  height: 88px;
	  object-fit: contain
	}
	.header-inner {
	  gap: 60px
	}
	ul.mobile-navigation-menu li.header-bottom-decor {
	  display: block;
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 24px;
	  color: #ccc
	}
	ul.mobile-navigation-menu li.header-bottom-decor::before {
	  display: none
	}
  }
  @media (min-width:1400px) {
	.header-inner {
	  gap: 80px
	}
	.header-top-item-tel {
	  display: flex
	}
  }