@media (min-width: 576px) {
	.autopart .services-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .autopart {
    margin-bottom: 70px;
  }

}
@media (min-width: 992px) {
  .autopart {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .autopart {
    margin-bottom: 96px;
  }
}
@media (min-width: 1400px) {
}
