@media (min-width: 576px) {
	.banner {
		padding: 40px 0
	}
}

@media (min-width: 768px) {
	.banner {
		padding: 16px 0
	}

	.banner-inner {
		flex-direction: row;
		align-items: center;
		gap: 15px;
		justify-content: space-between
	}

	.banner-info {
		margin: 0
	}
}

@media (min-width: 992px) {
	.banner-inner {
		justify-content: center
	}

	.banner-info {
		gap: 20px
	}
}

@media (min-width: 1200px) {
	.banner-info {
		font-size: 24px;
		line-height: 40px
	}
}