@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .about {
    .about-short-inner {
      margin-bottom: 78px;
    }
  }
  .about-icons-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

  }
  .about ul {
    margin: 48px 0 70px;
  }
  .about ol {
    margin: 116px 0 76px;
  }
  .about {
    .responsive-table-box {
      margin: 70px 0;
    }
  }
  .responsive-table-box {
   margin-bottom: 70px;
  }
  .banner-short {
    margin: 70px 0;
  }
  .banner-short-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 40px;
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-short {
    padding: 48px 0;
    margin: 0px 0 70px;
  }
  .about .responsive-table {
    margin-bottom: 38px;
  }
  .about h1 {
    font-size: 40px;
    line-height: 54px;
  }
  .about-icons-box {
    margin: 64px 0 48px;
  
}
}
@media (min-width: 992px) {

  .about {
    .about-short-inner {
      margin-bottom: 80px;
    }
  }
  .about-short-inner.left {
    .about-short-img picture::before {
      left: auto;
      right: -30px;
    }
  }
}
@media (min-width: 1200px) {
	.about-icons-box {
    margin-bottom: 96px;
  
}
  .about-short-inner.left {
    .about-short-img picture::before {
      left: auto;
      right: -60px;
    }
  }

  .about ul {
    margin: 96px 0 96px;
  }
  .about ol {
    margin: 126px 0 96px;
  }
  .about{
    .responsive-table-box {
      margin: 96px 0 64px;
    }
  }
  .responsive-table-box {
    margin-bottom: 64px;
  }
  .banner-short {
    margin: 96px 0;
  }
  .banner-short-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 40px;
  }
  .banner-short-title {
    max-width: none;
  }
  .banner-short {
    padding: 48px 0;
    margin: 0 0 96px;
  }
  .about .responsive-table {
    margin-bottom: 64px;
  }

  .about .responsive-table {
    padding-right: 0;
  }
  .responsive-table {
    padding-right: 0;
    margin-right: 0;
    &::-webkit-scrollbar-track {
      padding-right: 0;
      margin-right: 0px;
    }
  }

}
@media (min-width: 1400px) {

}
