@media (min-width: 576px){

}
@media (min-width: 768px){
    .section-title{
		margin-bottom: 52px;
	}
    .web-select{
        padding-left: 24px;
    }
    .web-input{
        padding-left: 24px;
    }
    .range-slider-input{
        padding-left: 24px;
    }
    .custom-select .select-styled{
        padding-left: 24px;
    }
    .custom-select .select-options li{
        padding-left: 24px;
    }
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}