@media (min-width: 576px){

}
@media (min-width: 768px){

    .service-about-info{
        margin-bottom: 70px;
    }
}
@media (min-width: 992px){
    .service-about-info{
        grid-template-columns: auto 570px;
        gap: 30px;
        align-items: start;
    }
    .service-about-info{
        margin-bottom: 80px;
    }
.service-about-info-descr{
    align-self: center;
}
}
@media (min-width: 1200px){
    .service-about-info{
        grid-template-columns: auto 670px;
        gap: 60px;
    }
    .service-about-info{
        margin-bottom: 96px;
    }
}
@media (min-width: 1400px){
    .service-about-info{
        grid-template-columns: auto 790px;
    }

}