@media (min-width:576px) {
	.page-link {
	  position: fixed;
	  z-index: 99;
	  top: 96px;
	  right: 0;
	  bottom: auto;
	  left: auto;
	  display: block;
	  width: auto;
	  background-color: transparent
	}
	.page-link-items {
	  flex-flow: column nowrap;
	  justify-content: end;
	  align-items: end;
	  gap: 0
	}
	.page-link-item-info {
	  opacity: 0;
	  max-width: 0;
	  font-weight: 300;
	  font-size: 16px;
	  line-height: 24px;
	  color: #242424;
	  white-space: nowrap;
	  overflow: hidden;
	  transition: .35s linear
	}
	.page-link-item {
	  padding: 19px 20px 19px 8px;
	  position: relative;
	  box-shadow: 0 5px 10px rgba(0,0,0,.1);
	  display: flex;
	  flex-flow: row-reverse nowrap;
	  background-color: #fff;
	  z-index: 99
	}
	.page-link-item::before {
	  content: "";
	  position: absolute;
	  left: -20px;
	  top: 0;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 32.5px 20px 32.5px 0;
	  border-color: transparent #fff transparent transparent;
	  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, .05))
	}
	.page-link-item + .page-link-item {
	  margin-top: 1px
	}
	.page-link-item:focus .page-link-item-info,
	.page-link-item:hover .page-link-item-info {
	  max-width: 150px;
	  margin: 0 12px 0 0;
	  opacity: 1
	}
	.page-link-item-img {
	  position: relative
	}
	.page-link-item-img img,
	.page-link-item-img svg {
	  height: 24px;
	  object-fit: contain
	}
	.page-link-item-img-count {
	  position: absolute;
	  font-weight: 500;
	  font-size: 11px;
	  line-height: 16px;
	  font-family: Oswald,sans-serif;
	  top: -10px;
	  right: -10px;
	  color: #fff;
	  padding: 2px 3px;
	  background: #ff1e26;
	  border-radius: 50%
	}
  }
  @media (min-width:768px) {
	.page-link {
	  top: 113px
	}
  }
  @media (min-width:992px) {
	.page-link {
	  top: 200px
	}

  }
  @media (min-width:1200px) {
	.page-link {
	  top: 208px
	}
  }