@import "_fonts";

//@import "bootstrap-grid";
@import "mixin";
//@import "_sprite";
//@import "normalize";
@import "_global";
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.header-wrapper {
  padding: 4px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.header-box {
  display: flex;
  align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-box {
  .btn.desk {
    display: none;
  }
}
.header-bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: -11;
  left: -100%;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  background: #fff;
  transition: 0.35s;
  z-index: -1;
  &.active {
    left: 0;
  }
}
.header-top-box.desk {
  display: none;
}
.header-logo {
  img,
  picture {
    width: 110px;
    height: 40px;
    object-fit: cover;
    display: block;
  }
}
.menu-btn {
  background: 0 0;
  border: none;
  padding: 0;
  width: 32px;
  cursor: pointer;
  height: 32px;
  opacity: 1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.active {
    span {
      display: none;
    }
    svg {
      display: block;
    }
  }
}
.menu-btn span {
  display: block;
  width: 24px;
  background: #242424;
  height: 2px;
  transition: 0.5s;
}
.menu-btn span + span {
  margin-top: 5.5px;
}
.menu-btn svg {
  display: none;
}
.header-mobile-navigation {
  width: 100%;
  flex: 1 0 auto;
}
.header-mobile-adress-inner {
  padding: 12px 0;
  display: flex;
  background: #f6f6f9;
  justify-content: center;
}
.header-top-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #242424;
  svg,
  img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    path {
      stroke: rgb(255, 30, 38);
    }
  }
}
.header-mobile-btn {
  padding: 15px;
  background: #fff;
  .btn {
    width: 100%;
  }
}
.mobile-navigation-sub-position {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100vh - 48px);
  background: #fff;

  transition: 0.25s linear;
  overflow: hidden;
  padding-top: 24px;
}
.mobile-navigation-sub-menu {
  width: 100%;
}
.mobile-navigation-sub-position.active {
  left: 0;
}

.mobile-navigation-sub-position.current {
  opacity: 1;
  overflow-y: auto;
}

ul.mobile-navigation-menu {
  display: flex;
  height: calc(100vh - 185px);
  overflow-y: auto;

  flex-direction: column;

  justify-content: start;

  align-items: start;
  padding-top: 24px;
  li {
    display: block;
    width: 100%;
    & + li {
      border-top: 1px solid #eee;
    }
    span {
      display: block;
      width: 100%;
      padding: 0 15px;
    }
    a:hover {
      background: #b4b5bc;
      color: #ffffff;
    }
    a:focus {
      background: #b4b5bc;
      color: #ffffff;
    }
    &.is-parent {
      a:hover {
        span {
          &::after {
            background-image: url(../img/svg/right-wh.svg);
          }
        }
      }
      a:focus {
        span {
          &::after {
            background-image: url(../img/svg/right-wh.svg);
          }
        }
      }
      span {
        position: relative;

        &::after {
        }
      }
    }
  }
  a {
    display: block;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0px;
    color: #242424;
  }
}
.header-mobile-navigation ul > li.is-parent > a span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 15px;
  display: block;
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
  background-image: url(../img/svg/right.svg);
  @include bgi;
  width: 16px;
  height: 16px;
}
ul.mobile-navigation-menu li.is-parent span.mobile-navigation-sub-menu-heading-title::after {
  display: none;
}
.mobile-navigation-sub-menu-heading-title {
  padding: 0 15px;
}
.mobile-navigation-sub-menu-heading {
  cursor: pointer;
}
ul.mobile-navigation-menu li span.mobile-navigation-sub-menu-heading-title {
  display: flex;
  align-items: center;
  gap: 10px;
  img,
  svg {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}
span.mobile-navigation-sub-menu-heading-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #242424;
}
.mobile-navigation-sub-menu-heading {
  padding: 11px 0;
}
.mobile-navigation-sub-menu-heading {
  margin-bottom: 8px;
}
.header-top-item-tel {
  display: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: "Oswald", sans-serif;
}

//

@import "_media-header";

//services
.services {
  padding: 40px 0 60px;
}
.services-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.services-item {
  border: 2px solid #575656;
  text-align: center;
  padding: 20px 25px;
  display: block;
  &:hover {
    border-color: #ff1e26;
  }
  &:focus {
    border-color: #ff1e26;
  }
}
.services-item-img {
  img,
  svg {
    object-fit: contain;
    height: 64px;
  }
  margin-bottom: 16px;
}
.services-item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  color: #242424;
}
.services-item.border-tr::after,
.services-item.border-tr::before {
  background-color: #fff;
}
@import "_media-services";
.page-link {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  width: 100%;
}
.page-link-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.page-link-item-info {
  display: block;
  font-weight: 600;
  order: 1;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  text-align: center;

  color: #242424;
}
.page-link-item {
  padding-top: 11px;
  padding-bottom: 7px;
  position: relative;
  margin-left: auto;
  display: flex;
  background-color: #fff;
  margin: 0;
  flex-direction: column;
  &:hover {
    .page-link-item-info {
      display: block;
    }
  }
  &:focus {
    .page-link-item-info {
      display: block;
    }
  }
}
.page-link-item-img {
  order: 0;
  width: 20px;
  margin: 0 auto;
  img,
  svg {
    height: 20px;
    object-fit: contain;
  }
  position: relative;
}
.page-link-item-img-count {
  position: absolute;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  top: -10px;
  right: -10px;
  color: #ffffff;
  padding: 2px 5px;
  background: #ff1e26;

  border-radius: 50%;
}
@import "_media-links";
//sliders
.sliders {
  padding-bottom: 60px;
}
.sliders-inner {
  position: relative;
}
.sliders-images {
  display: none;
}
.sliders-info-wrapper {
  background: #ff1e26;
  padding: 60px 15px 60px;
  .swiper-slide-active {
    .sliders-info-control {
      display: flex;
    }
  }
}
.sliders-info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}
.slider-info-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}
.sliders-info-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  display: none;
}
.sliders-info-control-btn {
  @include no-button;
  display: block;
  padding: 12px 30px;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  &:hover {
    background-color: #ffffff;
    color: #242424;
  }
  &:focus {
    background-color: #ffffff;
    color: #242424;
  }
}
.sliders-info-control-arrows {
  display: flex;
  gap: 15px;
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    padding: 13px;
    border: 1.5px solid #ffffff;
    width: auto;
    height: auto;
    margin: 0;
    svg,
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    &:hover {
      background-color: #fff;
      svg {
        path {
          stroke: #ff1e26;
        }
      }
    }
    &:focus {
      background-color: #fff;
      svg {
        path {
          stroke: #ff1e26;
        }
      }
    }
  }
}
@import "_media-sliders";

//buy-car-short
.buy-car-short {
  padding: 60px 0;
  background: #f6f6f9;
  position: relative;
  overflow: hidden;
}
.buy-car-short-inner,
.buy-car-short-items {
  display: grid;
  grid-template-columns: 1fr;
}
.buy-car-short-inner {
  gap: 40px;
  position: relative;
  z-index: 1;
}
.buy-car-short-items {
  gap: 15px;
}
.buy-car-short-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #242424;
  span {
    color: #ff1e26;
  }
}
.buy-car-short-item {
  text-align: center;
  &:hover {
    .buy-car-short-item-title {
      color: #ff1e26;
    }
  }
  &:focus {
    .buy-car-short-item-title {
      color: #ff1e26;
    }
  }
}
.buy-car-short-item-img {
  margin-bottom: 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.buy-car-short-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 4px;
}
.buy-car-short-item-count {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #242424;
}
.buy-car-short-glare {
  position: absolute;
  z-index: 0;
}
@import "_media-buy-car-short";
//special
.special {
  padding: 60px 0;
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  .btn {
    display: none;
  }
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
  color: #242424;
  font-family: "Oswald", sans-serif;
}
.special-slider-item:hover {
  .special-slider-item-more {
    color: #ff1e26;
    svg {
      path {
        stroke: #ff1e26;
      }
    }
  }
}
.special-slider-item:focus {
  .special-slider-item-more {
    color: #ff1e26;
    svg {
      path {
        stroke: #ff1e26;
      }
    }
  }
}
.special-slider-item-img {
  @include container-img;
  padding-bottom: 100%;
  margin-bottom: 32px;
  margin-left: 15px;
  img {
    @include img;
  }
}
.special-slider-item-img-info {
  position: absolute;
  top: 15px;
  left: -15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px;
  background: #ff1e26;
  font-family: "Oswald", sans-serif;
}
.special-slider-inner {
  .swiper-slide {
  }
  .swiper-pagination {
    margin-top: 20px;
  }
}
.special-slider-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #242424;
  margin-left: 15px;
  margin-bottom: 16px;
}
.special-slider-item-more {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #9b9b9b;
}
.special-slider-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .btn {
    width: 100%;
  }
}
@import "_media-special";

//banner
.banner {
  background-image: url(../img/banner-bg.jpg);
  @include bgi;
  padding: 40px 0 36px;
}
.banner-inner {
  display: flex;
  flex-direction: column;

  .btn {
    width: fit-content;
    align-self: center;
  }
}
.banner-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  gap: 20px;
  margin-bottom: 24px;
}
@import "_media-banner";

//about-short
.about-short {
  padding: 60px 0;
  background: #f5f5f9;
}
.about-short-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.about-short-info-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #242424;
  margin-bottom: 40px;
}
.about-short-info-description {
  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    & + p {
      margin-top: 24px;
    }
  }
}
.img-with-caption {
  position: relative;
}
.about-short-img {
  img {
    display: block;
    width: 258px;
    height: 172px;
    object-fit: cover;
  }
}
.image-caption {
  background: #ffc700;
  padding: 40px 25px 40px 25px;
  max-width: 222px;

  margin-top: -30px;
  margin-left: 66px;
  position: relative;
  z-index: 1;
}
.image-caption-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #242424;
  border-right: 2px solid #575656;
  padding-right: 20px;
  position: relative;
  span {
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    font-family: "Oswald", sans-serif;
    color: #242424;
    margin-top: 8px;
    display: block;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 22px;
    height: 2px;
    background-color: #242424;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 30px;
    height: 2px;
    background-color: #242424;
  }
}

@import "_media-about-short";
.map {
  height: 450px;
  iframe {
    border: none;
    margin: 0;
    padding: 0;
  }
}
.footer-bottom {
  background: #6a6969;
  padding: 10px 0;
  border-top: 3px solid #767475;
}
.footer-bottom-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.footer-bottom-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  text-transform: uppercase;

  /* white */

  color: #ffffff;
}
.footer-top {
  background: #1f1d1e;
  padding: 60px 0 40px;
}
.footer-top-lists {
  display: none;
}
.footer-top-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 40px;
}
.footer-top-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 0;
  border: 1.5px solid #9b9b9b;
  &:hover {
    color: #ff1e26;
    path {
      stroke: #fff;
    }
    svg {
      width: 20px;
      height: 20px;
      path {
        stroke: #ff1e26;
      }
    }
  }
  &:focus {
    color: #ff1e26;
    path {
      stroke: #fff;
    }
    svg {
      width: 20px;
      height: 20px;
      path {
        stroke: #ff1e26;
      }
    }
  }
}
.footer-top-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  &:hover {
    color: #9b9b9b;
  }
  &:focus {
    color: #9b9b9b;
  }
}

@import "_media-footer";
.feedback-slider-inner {
  .swiper-pagination {
    margin-top: 20px;
  }
  .swiper-slide {
    height: auto;
  }
  .feedback-slider-item {
    height: 100%;
  }
}
.feedback {
  padding: 60px 0;
}
.feedback-slider-item {
  border: 2px solid #575656;
  padding: 40px 30px;
  display: block;
  &:hover {
    border-color: #ff1e26;
  }
  &:focus {
    border-color: #ff1e26;
  }
}
.border-tr::after,
.border-tr::before {
  background-color: #fff;
}
.feedback-slider-item-head {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}
.feedback-slider-item-head-img {
  img {
    height: 48px;
    object-fit: cover;
  }
}
.feedback-slider-item-head-info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #242424;
}
.feedback-slider-item-head-info-raiting {
  display: flex;
  gap: 8px;
}
.feedback-slider-item-head-info-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  color: #9498a6;
}
.feedback-slider-item-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  margin-bottom: 16px;
}
.feedback-slider-item-info-more {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #9b9b9b;
}
@import "_media-feedback";

//modal
.modal {
  max-width: 560px;
  padding: 42px 22px;
  .btn {
    width: 100%;
  }
  .web-check {
    margin-top: 16px;
  }
}
.fancybox-bg {
  background: #242424;
  opacity: 0.6;
}
.modal-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #242424;
  margin-bottom: 48px;
}
.web-select {
  background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff;
  display: block;
  width: 100%;
  padding: 12px 46px 12px 24px;
  outline: 0;
  appearance: none;
  background-position: calc(100% - 15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  border: 1.5px solid #9b9b9b;
  &:focus {
    border: 1.5px solid #ff1e26;
  }
}
.modal-form-box {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  .web-input {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.web-input {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px 10px 24px;
  color: #242424;
  border: 1.5px solid #9b9b9b;
  &::placeholder {
    color: #9b9b9b;
  }
  &:focus,
  &:active {
    border: 1.5px solid #ff1e26;
  }
}
.modal .fancybox-button {
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  top: 6px;
  right: 6px;
}
.modal .fancybox-button svg {
  width: 24px;
  height: 24px;
  display: block;
}
.modal .fancybox-button:focus,
.modal .fancybox-button:hover {
  color: #242424;
}
.fancybox-slide--html {
  padding: 15px;
}
@import "_media-modal";

//filter
.filter {
  padding: 60px 0;
}
.filter-wrapper {
  border: 2px solid #575656;
  padding: 30px 15px;
}
.filter-head-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  color: #242424;
  font-family: "Oswald", sans-serif;
}
.filter-head {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.filter-head-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tabs-item {
  @include no-button;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9b9b9b;
  padding: 12px;
  width: 100%;
  border: 1.5px solid #9b9b9b;
}
.tabs-item.active {
  font-weight: 600;
  color: #ffffff;
  background: #9b9b9b;
}
.filter-body{
  margin-bottom: 32px;
}
.filter-body-items {
  display: none;
  margin-top: 15px;
  &.active {
    display: block;
  }
}
.filter-control {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
  .btn {
    width: 100%;
  }
}
.filter-control-reset {
  @include no-button;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.filter-control-link-more {
  @include no-button;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ff1e26;
  cursor: pointer;
}
.custom-select {
  $background: #e74c3c;
  $select-color: #fff;
  $select-background: #fff;
  $select-width: 220px;
  $select-height: 48px;
  li {
    display: block;
  }
  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $select-color;
    width: 100%;
    height: $select-height;
  }
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-background;
    padding: 12px 24px;
    padding-right: 48px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    border: 1.5px solid #9b9b9b;
    color: #9b9b9b;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.active{
      border-color: #FF1E26;
      border-bottom: none;
      color: #242424;
    }
    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 15px;
      width: 20px;
      height: 20px;
      background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff;
    }
    &:active,
    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 9;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1.5px solid #FF1E26;
    border-top: none;
    li {
      margin: 0;
      padding: 12px 24px;
      border-top: 1px solid darken($select-background, 10);
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #242424;
      &:hover,
      &.is-selected {
        color: #ff1e26;
        background: #f6f6f9;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
}
@import "_media";
