*,
::after,
::before,
html {
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: "Open Sans",sans-serif;
  scrollbar-width: thin;
  background-color: #fff
}
body.no-scroll-mobile {
  overflow: hidden
}
.wrapper-page ol,
.wrapper-page ul {
  padding: 0;
  text-decoration: none;
  list-style: none
}
.wrapper-page li {
  text-decoration: none;
  padding: 0;
  list-style: none
}
select::-moz-placeholder {
  opacity: 1
}
textarea::-moz-placeholder {
  opacity: 1
}
input::-moz-placeholder {
  opacity: 1
}
.content {
  flex: 1 0 auto;
  margin-top: 48px
}
a,
button {
  cursor: pointer;
  outline: 0;
  text-decoration: none
}
button,
input {
  outline: 0
}
.btn {
  background: #fff;
  border: 1.5px solid #e0e0e0;
  padding: 10px 30px;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: Oswald,sans-serif;
  font-weight: 500
}
.btn .mob {
  display: block
}
.btn .desk {
  display: none
}
.btn:hover {
  color: #242424;
  border-color: #242424
}
.btn.small {
  padding: 4px 24px;
  font-size: 14px
}
.btn-pr {
  color: #fff;
  background: #ff1e26;
  border-color: transparent
}
.btn-pr:hover {
  background: #000;
  color: #fff;
  border-color: transparent
}
.btn-pr:disabled {
  background: #d0d0d0
}
.btn-sec {
  color: #ff1e26;
  border-color: #ff1e26
}
.btn-sec:hover {
  color: #242424;
  border-color: #000
}
.btn-sec:disabled {
  color: #ccc;
  border-color: #e0e0e0
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0
}
.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0
}
.wrapper-page button::placeholder,
.wrapper-page input::placeholder,
.wrapper-page textarea::placeholder {
  opacity: 1
}
.wrapper-page a {
  text-decoration: none
}
li,
ul {
  display: inline-block;
  text-decoration: none;
  padding: 0
}
.content {
  flex: 1 0 auto
}
.footer {
  flex: 0 0 auto
}
.page-inner {
  padding-bottom: 100px
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none
}
.web-check label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
  cursor: pointer;
  position: relative;
  gap: 15px
}
.web-check .check-style {
  border: 1px solid #9498a6;
  width: 20px;
  height: 20px;
  border-radius: 2px
}
.web-check .check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0)
}
.web-check .check-box:checked + .check-style {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff
}
.header-wrapper {
  padding: 4px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header-box {
  display: flex;
  align-items: center
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header-top-box .btn.desk {
  display: none
}
.header-bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  background: #fff;
  transition: .35s;
  z-index: -1
}
.header-bottom.active {
  left: 0
}
.header-top-box.desk {
  display: none
}
.header-logo img,
.header-logo picture {
  width: 110px;
  height: 40px;
  object-fit: cover;
  display: block
}
.menu-btn {
  background: 0 0;
  border: none;
  padding: 0;
  width: 32px;
  cursor: pointer;
  height: 32px;
  opacity: 1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.menu-btn.active span {
  display: none
}
.menu-btn.active svg {
  display: block
}
.menu-btn span {
  display: block;
  width: 24px;
  background: #242424;
  height: 2px;
  transition: .5s
}
.menu-btn span + span {
  margin-top: 5.5px
}
.menu-btn svg {
  display: none
}
.header-mobile-navigation {
  width: 100%;
  flex: 1 0 auto
}
.header-mobile-adress-inner {
  padding: 12px 0;
  display: flex;
  background: #f6f6f9;
  justify-content: center
}
.header-top-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242424
}
.header-top-item img,
.header-top-item svg {
  width: 16px;
  height: 16px;
  object-fit: cover
}
.header-mobile-btn {
  padding: 15px;
  background: #fff
}
.header-mobile-btn .btn {
  width: 100%
}
.mobile-navigation-sub-position {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100vh - 185px);
  background: #fff;
  transition: .25s linear;
  overflow: hidden;
  padding-top: 24px
}
.mobile-navigation-sub-menu {
  width: 100%
}
.mobile-navigation-sub-position.active {
  left: 0
}
.mobile-navigation-sub-position.current {
  opacity: 1;
  overflow-y: auto
}
ul.mobile-navigation-menu {
  display: flex;
  height: calc(100vh - 185px);
  overflow-y: auto;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 24px
}
ul.mobile-navigation-menu li,
ul.mobile-navigation-menu li span {
  display: block;
  width: 100%
}
ul.mobile-navigation-menu li.is-parent span {
  position: relative
}
ul.mobile-navigation-menu li.is-parent span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  display: block;
  margin: -8px 0 0;
  background-image: url(../img/svg/right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px
}
ul.mobile-navigation-menu a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 15px;
  color: #242424
}
ul.mobile-navigation-menu a:hover {
  background: #b4b5bc;
  color: #fff
}
ul.mobile-navigation-menu a:hover span::after {
  background-image: url(../img/svg/right-wh.svg)
}
ul.mobile-navigation-menu li.is-parent span.mobile-navigation-sub-menu-heading-title::after {
  display: none
}
.mobile-navigation-sub-menu-heading-title {
  padding: 0 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #242424
}
.mobile-navigation-sub-menu-heading {
  cursor: pointer
}
@media (min-width:768px) {
  .header-top-box .btn .mob {
    display: none
  }
  .header-top-box .btn .desk,
  .header-top-box .btn.desk {
    display: block
  }
}