*,
::after,
::before,
html {
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: "Open Sans",sans-serif;
  scrollbar-width: thin;
  background-color: #fff
}
body.no-scroll-mobile {
  overflow: hidden
}
.wrapper-page ol,
.wrapper-page ul {
  padding: 0;
  text-decoration: none;
  list-style: none
}
.wrapper-page li {
  text-decoration: none;
  padding: 0;
  list-style: none
}
.web-check-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b
}
select::-moz-placeholder {
  opacity: 1
}
textarea::-moz-placeholder {
  opacity: 1
}
input::-moz-placeholder {
  opacity: 1
}
.content {
  flex: 1 0 auto;
  margin-top: 48px
}
a,
button {
  cursor: pointer;
  outline: 0;
  text-decoration: none
}
button,
input {
  outline: 0
}
.btn {
  background: #fff;
  border: 1.5px solid #e0e0e0;
  padding: 10px 30px;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: Oswald,sans-serif;
  font-weight: 500;
  white-space: nowrap;
  text-align: center
}
.btn .mob {
  display: block
}
.btn .desk {
  display: none
}
.btn:focus,
.btn:hover {
  color: #242424;
  border-color: #242424
}
.btn.small {
  padding: 4px 24px;
  font-size: 14px
}
.btn-pr {
  color: #fff;
  background: #ff1e26;
  border-color: transparent
}
.btn-pr:focus,
.btn-pr:hover {
  background: #000;
  color: #fff;
  border-color: transparent
}
.btn-pr:disabled {
  background: #d0d0d0
}
.btn-sec {
  color: #ff1e26;
  border-color: #ff1e26
}
.btn-sec:focus,
.btn-sec:hover {
  color: #242424;
  border-color: #000
}
.btn-sec:disabled {
  color: #ccc;
  border-color: #e0e0e0
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0
}
.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0
}
.wrapper-page button::placeholder,
.wrapper-page input::placeholder,
.wrapper-page textarea::placeholder {
  opacity: 1
}
.wrapper-page a {
  text-decoration: none
}
li,
ul {
  display: inline-block;
  text-decoration: none;
  padding: 0
}
.content {
  flex: 1 0 auto
}
.footer {
  flex: 0 0 auto
}
.page-inner {
  padding-bottom: 100px
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none
}
.web-check label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
  cursor: pointer;
  position: relative;
  gap: 15px
}
.web-check .check-style {
  border: 1px solid #9498a6;
  width: 20px;
  height: 20px;
  border-radius: 2px
}
.web-check .check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0)
}
.web-check .check-box:checked + .check-style {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px
}
.border-tr {
  position: relative
}
.border-tr::after,
.border-tr::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px
}
.border-tr-1::before {
  left: 10%;
  top: -7px
}
.border-tr-1::after {
  bottom: -7px;
  right: 10%
}
.border-tr-2::before {
  left: -7px;
  bottom: 10%
}
.border-tr-2::after {
  top: 10%;
  right: -7px
}
.border-tr-3::before {
  right: 10%;
  top: -7px
}
.border-tr-3::after {
  bottom: -7px;
  left: 10%
}
.border-tr-4::before {
  left: -7px;
  top: 10%
}
.border-tr-4::after {
  right: -7px;
  bottom: 10%
}
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px
}
.swiper-pagination-bullet {
  flex-flow: row nowrap;
  align-items: center;
  height: auto;
  justify-content: flex-end;
  border-radius: 0;
  background: 0 0;
  text-align: center;
  opacity: 1;
  min-height: 20px;
  display: block;
  width: 30px;
  min-height: auto;
  min-height: 20px;
  transition: .25s;
  position: relative;
  display: flex;
  align-items: center
}
.swiper-pagination-bullet:focus::after,
.swiper-pagination-bullet:hover::after {
  background: #ff1e26
}
.swiper-pagination-bullet:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  margin: 0;
  background: #eee;
  transition: .25s
}
.swiper-pagination-bullet-active {
  width: 60px
}
.swiper-pagination-bullet-active:after {
  width: 60px;
  background: #ff1e26
}
.swiper:not(.swiper-container-initialized) > .swiper-wrapper {
  flex-flow: row wrap;
  align-items: stretch
}
@media (min-width:992px) {
  .border-tr::after,
  .border-tr::before {
    width: 20px;
    height: 20px
  }
}
@media (min-width:1200px) {
  .border-tr::after,
  .border-tr::before {
    width: 30px;
    height: 30px
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff
}
.header-wrapper {
  padding: 4px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header-box {
  display: flex;
  align-items: center
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header-top-box .btn.desk {
  display: none
}
.header-bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  background: #fff;
  transition: .35s;
  z-index: -1
}
.header-bottom.active {
  left: 0
}
.header-top-box.desk {
  display: none
}
.header-logo img,
.header-logo picture {
  width: 110px;
  height: 40px;
  object-fit: cover;
  display: block
}
.menu-btn {
  background: 0 0;
  border: none;
  padding: 0;
  width: 32px;
  cursor: pointer;
  height: 32px;
  opacity: 1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.menu-btn.active span {
  display: none
}
.menu-btn.active svg {
  display: block
}
.menu-btn span {
  display: block;
  width: 24px;
  background: #242424;
  height: 2px;
  transition: .5s
}
.menu-btn span + span {
  margin-top: 5.5px
}
.menu-btn svg {
  display: none
}
.header-mobile-navigation {
  width: 100%;
  flex: 1 0 auto
}
.header-mobile-adress-inner {
  padding: 12px 0;
  display: flex;
  background: #f6f6f9;
  justify-content: center
}
.header-top-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #242424
}
.header-top-item img,
.header-top-item svg {
  width: 16px;
  height: 16px;
  object-fit: cover
}
.header-top-item img path,
.header-top-item svg path {
  stroke: #ff1e26
}
.header-mobile-btn {
  padding: 15px;
  background: #fff
}
.header-mobile-btn .btn {
  width: 100%
}
.mobile-navigation-sub-position {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: -100%;
  width: 100%;
  height: calc(100vh - 48px);
  background: #fff;
  transition: .25s linear;
  overflow: hidden;
  padding-top: 24px
}
.mobile-navigation-sub-menu {
  width: 100%
}
.mobile-navigation-sub-position.active {
  left: 0
}
.mobile-navigation-sub-position.current {
  opacity: 1;
  overflow-y: auto
}
ul.mobile-navigation-menu {
  display: flex;
  height: calc(100vh - 185px);
  overflow-y: auto;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 24px
}
ul.mobile-navigation-menu li {
  display: block;
  width: 100%
}
ul.mobile-navigation-menu li + li {
  border-top: 1px solid #eee
}
ul.mobile-navigation-menu li span {
  display: block;
  width: 100%;
  padding: 0 15px
}
ul.mobile-navigation-menu li a:focus,
ul.mobile-navigation-menu li a:hover {
  background: #b4b5bc;
  color: #fff
}
ul.mobile-navigation-menu li.is-parent a:focus span::after,
ul.mobile-navigation-menu li.is-parent a:hover span::after {
  background-image: url(../img/svg/right-wh.svg)
}
ul.mobile-navigation-menu li.is-parent span {
  position: relative
}
ul.mobile-navigation-menu a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  color: #242424
}
.header-mobile-navigation ul > li.is-parent > a span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 15px;
  display: block;
  margin: -8px 0 0;
  background-image: url(../img/svg/right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px
}
ul.mobile-navigation-menu li.is-parent span.mobile-navigation-sub-menu-heading-title::after {
  display: none
}
.mobile-navigation-sub-menu-heading-title {
  padding: 0 15px
}
.mobile-navigation-sub-menu-heading {
  cursor: pointer;
  padding: 11px 0;
  margin-bottom: 8px
}
ul.mobile-navigation-menu li span.mobile-navigation-sub-menu-heading-title {
  display: flex;
  align-items: center;
  gap: 10px
}
ul.mobile-navigation-menu li span.mobile-navigation-sub-menu-heading-title img,
ul.mobile-navigation-menu li span.mobile-navigation-sub-menu-heading-title svg {
  width: 16px;
  height: 16px;
  object-fit: cover
}
span.mobile-navigation-sub-menu-heading-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #242424
}
.header-top-item-tel {
  display: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: Oswald,sans-serif
}
@media (min-width:576px) {
  .header-mobile-btn,
  ul.mobile-navigation-menu li span {
    width: 100%;
    max-width: 540px;
    margin: 0 auto
  }
  .header-top-box .btn .mob {
    display: none
  }
  .header-top-box .btn .desk {
    display: block
  }
}
@media (min-width:768px) {
  .header-top-box .btn .mob {
    display: none
  }
  .header-top-box .btn .desk,
  .header-top-box .btn.desk {
    display: block
  }
  .header-mobile-btn,
  ul.mobile-navigation-menu li span {
    max-width: 720px
  }
  .header-top-box {
    display: flex;
    gap: 16px
  }
  .header-mobile-btn {
    display: none
  }
}
@media (min-width:992px) {
  .header-logo img,
  .header-logo picture {
    width: 175px;
    height: 80px
  }
  .menu-btn {
    display: none
  }
  .header-mobile-adress {
    display: none
  }
  ul.mobile-navigation-menu {
    height: auto;
    padding: 0;
    flex-direction: row;
    gap: 15px;
    overflow: visible
  }
  .header-top-inner {
    display: flex;
    justify-content: space-between
  }
  .header-top-box.desk {
    display: flex;
    gap: 40px
  }
  .header-inner {
    gap: 40px
  }
  .ul.mobile-navigation-menu li span {
    padding: 0;
    max-width: none
  }
  ul.mobile-navigation-menu li + li {
    border: none
  }
  ul.mobile-navigation-menu a {
    padding: 0;
    font-weight: 500
  }
  ul.mobile-navigation-menu li a:focus,
  ul.mobile-navigation-menu li a:hover {
    background: 0 0;
    color: #242424
  }
  .header-mobile-navigation ul > li > a span {
    padding: 0
  }
  .mobile-navigation-sub-position ul > li > a span {
    padding: 12px 0
  }
  .mobile-navigation-sub-position ul > li > a {
    width: 100%;
    display: block;
    padding: 0 15px
  }
  .mobile-navigation-sub-position ul>li>a:focus,
  .mobile-navigation-sub-position ul>li>a:hover {
    background: #b4b4bc;
    color: #fff
  }
  .header-mobile-navigation ul > li.is-parent > a span::after {
    display: none
  }
  .header-top {
    padding: 16px 0;
    border-bottom: 1px solid #eee
  }
  .header-wrapper {
    padding: 0
  }
  .header-bottom {
    position: static;
    top: 0;
    left: 0;
    padding: 24px 0;
    overflow: visible
  }
  .mobile-navigation-sub-position {
    max-height: calc(100vh - 140px);
    height: fit-content;
    width: 100%;
    max-width: 240px;
    z-index: -1;
    padding: 0;
    background-color: #fff;
    top: calc(100% + 24px);
    display: none;
    transition: none;
    overflow: visible;
    width: fit-content;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    left: -15px
  }
  .mobile-navigation-sub-menu-heading {
    display: none
  }
  li.active > .mobile-navigation-sub-position {
    display: block
  }
  ul.mobile-navigation-menu > li > a span {
    white-space: nowrap
  }
  ul.mobile-navigation-menu > li {
    position: relative
  }
  .mobile-navigation-sub-position.sub-sub {
    top: 0
  }
  .mobile-navigation-sub-position ul.mobile-navigation-sub-menu > ul > li > a > span {
    white-space: normal
  }
  ul.mobile-navigation-menu li.is-parent span {
    display: block;
    max-width: 180px;
    width: max-content;
    margin: 0
  }
  .mobile-navigation-sub-position li {
    display: block
  }
  .mobile-navigation-sub-position li + li {
    border-top: 1px solid #eee
  }
  ul.mobile-navigation-sub-menu {
    padding: 16px 0
  }
  .mobile-navigation-sub-position.current {
    width: fit-content;
    overflow: visible
  }
  .mobile-navigation-sub-menu {
    max-height: calc(100vh - 140px);
    overflow: auto
  }
  ul.mobile-navigation-menu {
    justify-content: space-between
  }
  ul.mobile-navigation-menu > li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #ff1e26;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: .3s
  }
  ul.mobile-navigation-menu>li.active::before,
  ul.mobile-navigation-menu>li:focus::before,
  ul.mobile-navigation-menu>li:hover::before {
    opacity: 1
  }
  .content {
    margin-top: 140px
  }
  .header-top-item {
    font-size: 18px
  }
  .mobile-navigation-sub-menu li.active > a {
    background: #b4b4bc;
    color: #fff
  }
  .mobile-navigation-sub-position.active {
    left: -15px
  }
  .mobile-navigation-sub-position.sub-sub {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    left: 100%
  }
  .mobile-navigation-sub-menu li.is-parent > a {
    position: relative
  }
  .mobile-navigation-sub-menu li.is-parent > a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    display: block;
    margin: -8px 0 0;
    background-image: url(../img/svg/right.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px
  }
  .mobile-navigation-sub-menu li.is-parent.active>a::after,
  .mobile-navigation-sub-menu li.is-parent>a:hover::after {
    background-image: url(../img/svg/right-wh.svg)
  }
}
@media (min-width:1200px) {
  .header-top-inner {
    gap: 30px
  }
  ul.mobile-navigation-menu li {
    display: block;
    width: auto
  }
  ul.mobile-navigation-menu {
    gap: 45px
  }
  ul.mobile-navigation-menu > li::after {
    content: "/";
    position: absolute;
    right: -22px;
    top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ccc
  }
  ul.mobile-navigation-menu > li:last-child::after {
    content: "";
    position: absolute;
    right: -22px;
    top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ccc
  }
  .mobile-navigation-sub-position {
    left: -30px
  }
  .mobile-navigation-sub-position ul > li > a {
    padding-left: 30px;
    padding-right: 30px
  }
  .header-top-item {
    font-size: 20px
  }
  .header-top-item-tel {
    display: flex
  }
  .mobile-navigation-sub-position.active {
    left: -30px
  }
  .mobile-navigation-sub-position.sub-sub {
    left: 100%
  }
}
.services {
  padding: 40px 0 60px
}
.services-items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px
}
.services-item {
  border: 2px solid #575656;
  text-align: center;
  padding: 20px 25px;
  display: block
}
.services-item:focus,
.services-item:hover {
  border-color: #ff1e26
}
.services-item-img {
  margin-bottom: 16px
}
.services-item-img img,
.services-item-img svg {
  object-fit: contain;
  height: 64px
}
.services-item-title {
  font-family: Oswald,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #242424
}
.services-item.border-tr::after,
.services-item.border-tr::before {
  background-color: #fff
}
@media (min-width:576px) {
  .services-item {
    padding-top: 22px;
    padding-bottom: 22px
  }
  .services {
    padding: 48px 0 60px
  }
}
@media (min-width:768px) {
  .services-items {
    gap: 30px
  }
  .services {
    padding: 48px 0
  }
}
@media (min-width:992px) {
  .services-items {
    grid-template-columns: repeat(4,1fr)
  }
  .services {
    padding: 64px 0
  }
  .services-item-title {
    font-size: 18px
  }
}
@media (min-width:1200px) {
  .services-item {
    padding-top: 32px;
    padding-bottom: 32px
  }
  .services {
    padding: 64px 0 94px
  }
}
@media (min-width:1400px) {
  ul.mobile-navigation-menu {
    gap: 77px
  }
  ul.mobile-navigation-menu > li::after {
    right: -38px
  }
  .services-item {
    padding-top: 47px;
    padding-bottom: 47px
  }
  .services {
    padding: 64px 0
  }
}
.page-link {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  width: 100%
}
.page-link-items {
  display: flex;
  justify-content: center;
  gap: 20px
}
.page-link-item-info {
  display: block;
  font-weight: 600;
  order: 1;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #242424
}
.page-link-item {
  padding-top: 11px;
  padding-bottom: 7px;
  position: relative;
  display: flex;
  background-color: #fff;
  margin: 0;
  flex-direction: column
}
.page-link-item:focus .page-link-item-info,
.page-link-item:hover .page-link-item-info {
  display: block
}
.page-link-item-img {
  order: 0;
  width: 20px;
  margin: 0 auto;
  position: relative
}
.page-link-item-img img,
.page-link-item-img svg {
  height: 20px;
  object-fit: contain
}
.page-link-item-img-count {
  position: absolute;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  font-family: Oswald,sans-serif;
  top: -10px;
  right: -10px;
  color: #fff;
  padding: 2px 5px;
  background: #ff1e26;
  border-radius: 50%
}
@media (min-width:576px) {
  .page-link {
    position: fixed;
    z-index: 99;
    background-color: transparent;
    width: fit-content;
    margin-left: auto
  }
  .page-link-items {
    display: block
  }
  .page-link-item-info {
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    order: -1;
    color: #242424
  }
  .page-link-item {
    padding: 19px 20px 19px 8px;
    position: relative;
    box-shadow: 0 5px 40px 10px rgba(0,0,0,.1);
    margin-left: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: #fff;
    z-index: 99
  }
  .page-link-item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32.5px 20px 32.5px 0;
    border-color: transparent #fff transparent transparent
  }
  .page-link-item + .page-link-item {
    margin-top: 1px
  }
  .page-link-item:focus .page-link-item-info,
  .page-link-item:hover .page-link-item-info {
    display: block
  }
  .page-link-item-img {
    position: relative
  }
  .page-link-item-img img,
  .page-link-item-img svg {
    height: 24px;
    object-fit: contain
  }
  .page-link-item-img-count {
    position: absolute;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    font-family: Oswald,sans-serif;
    top: -10px;
    right: -10px;
    color: #fff;
    padding: 2px 5px;
    background: #ff1e26;
    border-radius: 50%
  }
  .page-link {
    display: block;
    top: 96px;
    right: 0
  }
}
@media (min-width:768px) {
  .page-link {
    top: 113px
  }
}
@media (min-width:992px) {
  .page-link {
    top: 200px
  }
}
@media (min-width:1200px) {
  .page-link {
    top: 208px
  }
}
.sliders {
  padding-bottom: 60px
}
.sliders-inner {
  position: relative
}
.sliders-images {
  display: none
}
.sliders-info-wrapper {
  background: #ff1e26;
  padding: 60px 15px
}
.sliders-info-wrapper .swiper-slide-active .sliders-info-control {
  display: flex
}
.sliders-info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px
}
.slider-info-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 40px
}
.sliders-info-control {
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  display: none
}
.sliders-info-control-btn {
  background: 0 0;
  border: 1px solid #fff;
  padding: 12px 30px;
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  color: #fff
}
.sliders-info-control-btn:focus,
.sliders-info-control-btn:hover {
  background-color: #fff;
  color: #242424
}
.sliders-info-control-arrows {
  display: flex;
  gap: 15px
}
.sliders-info-control-arrows .swiper-button-next,
.sliders-info-control-arrows .swiper-button-prev {
  position: static;
  padding: 13px;
  border: 1.5px solid #fff;
  width: auto;
  height: auto;
  margin: 0
}
.sliders-info-control-arrows .swiper-button-next img,
.sliders-info-control-arrows .swiper-button-next svg,
.sliders-info-control-arrows .swiper-button-prev img,
.sliders-info-control-arrows .swiper-button-prev svg {
  width: 20px;
  height: 20px;
  object-fit: contain
}
.sliders-info-control-arrows .swiper-button-next:hover,
.sliders-info-control-arrows .swiper-button-prev:hover {
  background-color: #fff
}
.sliders-info-control-arrows .swiper-button-next:hover svg path,
.sliders-info-control-arrows .swiper-button-prev:hover svg path {
  stroke: #ff1e26
}
.sliders-info-control-arrows .swiper-button-next:focus,
.sliders-info-control-arrows .swiper-button-prev:focus {
  background-color: #fff
}
.sliders-info-control-arrows .swiper-button-next:focus svg path,
.sliders-info-control-arrows .swiper-button-prev:focus svg path {
  stroke: #ff1e26
}
@media (min-width:576px) {
  .sliders-info-wrapper {
    padding: 42px 30px;
    max-width: 480px;
    margin-top: -30px;
    position: relative;
    z-index: 1
  }
  .sliders-images {
    display: block
  }
  .slider-images-img {
    position: relative;
    height: 0;
    padding-bottom: 62.5%;
    margin-left: 30px
  }
  .slider-images-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
  }
}
@media (min-width:768px) {
  .sliders-info-wrapper {
    padding: 48px 30px;
    max-width: 345px;
    position: absolute;
    margin-top: 0;
    top: 30px
  }
  .sliders-info-wrapper::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 141px;
    height: 2px;
    width: 60px;
    background-color: #fff
  }
  .slider-images-img {
    padding-bottom: 52%
  }
  .sliders {
    padding-bottom: 100px
  }
}
@media (min-width:992px) {
  .sliders-info-wrapper {
    padding: 63px 30px;
    max-width: 480px
  }
  .slider-images-img {
    padding-bottom: 38%;
    margin-left: 40px
  }
  .sliders-info-wrapper::after {
    width: 90px;
    right: -45px;
    top: 144px
  }
  .slider-info-info,
  .sliders-info-title {
    padding-right: 30px
  }
  .sliders {
    padding-bottom: 110px
  }
}
@media (min-width:1200px) {
  .sliders-info-wrapper {
    padding: 63px 75px 63px 60px;
    max-width: 555px
  }
  .slider-images-img {
    padding-bottom: 32%
  }
  .slider-info-info,
  .sliders-info-title {
    padding-right: 0
  }
  .sliders {
    padding-bottom: 126px
  }
}
@media (min-width:1400px) {
  .sliders-info-wrapper {
    padding: 60px 60px 83px;
    max-width: 645px
  }
  .slider-images-img {
    padding-bottom: 28%;
    margin-left: 60px
  }
}
.buy-car-short {
  padding: 60px 0;
  background: #f6f6f9;
  position: relative;
  overflow: hidden
}
.buy-car-short-inner,
.buy-car-short-items {
  display: grid;
  grid-template-columns: 1fr
}
.buy-car-short-inner {
  gap: 40px;
  position: relative;
  z-index: 1
}
.buy-car-short-items {
  gap: 15px
}
.buy-car-short-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #242424
}
.buy-car-short-title span {
  color: #ff1e26
}
.buy-car-short-item {
  text-align: center
}
.buy-car-short-item:focus .buy-car-short-item-title,
.buy-car-short-item:hover .buy-car-short-item-title {
  color: #ff1e26
}
.buy-car-short-item-img {
  margin-bottom: 8px
}
.buy-car-short-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover
}
.buy-car-short-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: Oswald,sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  margin-bottom: 4px
}
.buy-car-short-item-count {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #242424
}
.buy-car-short-glare {
  position: absolute;
  z-index: 0
}
@media (min-width:576px) {
  .buy-car-short-items {
    grid-template-columns: repeat(3,1fr)
  }
  .buy-car-short-glare {
    width: 100%;
    height: 100%;
    background: linear-gradient(263.48deg,#f5f5f9 51.02%,#fff 86.49%);
    transform: skewX(-45deg);
    opacity: .5
  }
  .glare {
    top: 0;
    left: calc(50% - 56px)
  }
  .glare-1 {
    top: 0;
    left: calc(50% + 122px)
  }
  .glare-2 {
    top: 0;
    left: calc(50% + 157px)
  }
}
@media (min-width:768px) {
  .buy-car-short {
    padding: 70px 0
  }
  .buy-car-short-inner {
    gap: 48px
  }
  .buy-car-short-item-title {
    font-size: 28px
  }
  .buy-car-short-glare {
    width: 243px
  }
  .glare {
    top: 0;
    left: calc(50% - 97px)
  }
  .glare-1 {
    top: 0;
    left: calc(50% + 146px)
  }
  .glare-2 {
    top: 0;
    left: calc(50% + 389px)
  }
}
@media (min-width:992px) {
  .buy-car-short {
    padding: 88px 0
  }
  .buy-car-short-inner {
    gap: 30px;
    grid-template-columns: minmax(auto,215px) 1fr;
    align-items: center;
    justify-content: space-between
  }
  .buy-car-short-title span {
    display: block
  }
  .glare {
    top: 0;
    left: calc(50% - 97px)
  }
  .glare-1 {
    top: 0;
    left: calc(50% + 146px)
  }
  .glare-2 {
    top: 0;
    left: calc(50% + 491px)
  }
}
@media (min-width:1200px) {
  .buy-car-short-item-title {
    font-size: 32px
  }
  .buy-car-short-inner {
    grid-template-columns: minmax(auto,255px) 1fr
  }
}
@media (min-width:1400px) {
  .buy-car-short-inner {
    grid-template-columns: minmax(auto,300px) 1fr
  }
}
.special {
  padding: 60px 0
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px
}
.section-title .btn {
  display: none
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
  color: #242424;
  font-family: Oswald,sans-serif
}
.special-slider-item:hover .special-slider-item-more {
  color: #ff1e26
}
.special-slider-item:hover .special-slider-item-more svg path {
  stroke: #ff1e26
}
.special-slider-item:focus .special-slider-item-more {
  color: #ff1e26
}
.special-slider-item:focus .special-slider-item-more svg path {
  stroke: #ff1e26
}
.special-slider-item-img {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 32px;
  margin-left: 15px
}
.special-slider-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}
.special-slider-item-img-info {
  position: absolute;
  top: 15px;
  left: -15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  background: #ff1e26;
  font-family: Oswald,sans-serif
}
.special-slider-inner .swiper-pagination {
  margin-top: 20px
}
.special-slider-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #242424;
  margin-left: 15px;
  margin-bottom: 16px
}
.special-slider-item-more {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  color: #9b9b9b
}
.special-slider-more {
  display: flex;
  justify-content: center;
  margin-top: 20px
}
.special-slider-more .btn {
  width: 100%
}
@media (min-width:576px) {
  .title {
    font-size: 24px;
    line-height: 40px
  }
  .special-slider-more .btn {
    width: auto
  }
}
@media (min-width:768px) {
  .special {
    padding: 70px 0
  }
  .section-title .btn {
    display: block
  }
  .title {
    font-size: 28px
  }
  .special-slider-more {
    display: none
  }
  .special-slider-inner .swiper-pagination {
    margin-top: 28px
  }
}
@media (min-width:992px) {
  .special {
    padding: 80px 0
  }
  .title {
    font-size: 32px
  }
  .special-slider-inner .swiper-wrapper {
    gap: 45px
  }
  .special-slider-inner .swiper-slide {
    flex: 1 1 auto;
    width: calc(25% - 45px);
    height: auto
  }
  .special-slider-inner .swiper-pagination {
    display: none
  }
}
@media (min-width:1200px) {
  .special {
    padding: 96px 0
  }
}
.banner {
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 0 36px
}
.banner-inner {
  display: flex;
  flex-direction: column
}
.banner-inner .btn {
  width: fit-content;
  align-self: center
}
.banner-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  font-family: Oswald,sans-serif;
  gap: 20px;
  margin-bottom: 24px
}
@media (min-width:576px) {
  .banner {
    padding: 40px 0;
    background-image: url(../img/banner-bg-560.jpg)
  }
}
@media (min-width:768px) {
  .banner {
    padding: 16px 0;
    background-image: url(../img/banner-bg-768.jpg)
  }
  .banner-inner {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-between
  }
  .banner-info {
    margin: 0
  }
}
@media (min-width:992px) {
  .banner {
    background-image: url(../img/banner-bg-960.jpg)
  }
  .banner-inner {
    justify-content: center
  }
}
@media (min-width:1200px) {
  .banner-info {
    font-size: 24px;
    line-height: 40px
  }
}
.about-short {
  padding: 60px 0;
  background: #f5f5f9
}
.about-short-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px
}
.about-short-info-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  color: #242424;
  margin-bottom: 40px
}
.about-short-info-description p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #242424
}
.about-short-info-description p + p {
  margin-top: 24px
}
.img-with-caption {
  position: relative
}
.about-short-img img {
  display: block;
  width: 258px;
  height: 172px;
  object-fit: cover
}
.image-caption {
  background: #ffc700;
  padding: 40px 25px;
  max-width: 222px;
  margin-top: -30px;
  margin-left: 66px;
  position: relative;
  z-index: 1
}
.image-caption-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #242424;
  border-right: 2px solid #575656;
  padding-right: 20px;
  position: relative
}
.image-caption-info span {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  font-family: Oswald,sans-serif;
  color: #242424;
  margin-top: 8px;
  display: block
}
.image-caption-info::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 22px;
  height: 2px;
  background-color: #242424
}
.image-caption-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 30px;
  height: 2px;
  background-color: #242424
}
@media (min-width:576px) {
  .about-short-info-title {
    font-size: 24px;
    line-height: 40px
  }
  .about-short {
    padding: 60px 0 90px
  }
  .about-short-img {
    position: relative;
    height: 0;
    padding-bottom: 66%;
    margin-right: 30px
  }
  .about-short-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
  }
  .image-caption {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: -30px
  }
}
@media (min-width:768px) {
  .about-short-info-title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 48px
  }
  .about-short {
    padding: 78px 0 100px
  }
  .image-caption {
    max-width: 230px
  }
  .image-caption-info span {
    margin-top: 16px
  }
  .about-short-inner {
    gap: 48px
  }
}
@media (min-width:992px) {
  .about-short-info-title {
    font-size: 32px;
    line-height: 40px
  }
  .about-short {
    padding: 98px 0 125px
  }
  .image-caption {
    padding: 50px 30px
  }
  .about-short-inner {
    gap: 30px;
    grid-template-columns: minmax(auto,495px) minmax(auto,380px);
    justify-content: space-between
  }
  .about-short-img {
    padding-bottom: 120%
  }
  .about-short-img::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(0,50%);
    width: 120px;
    height: 2px;
    background: #bdbdbd;
    z-index: 1
  }
}
@media (min-width:1200px) {
  .about-short {
    padding-bottom: 111px
  }
  .image-caption {
    max-width: 250px
  }
  .image-caption-info {
    font-size: 20px;
    line-height: 28px
  }
  .about-short-img {
    margin-right: 40px
  }
  .about-short-inner {
    gap: 170px;
    grid-template-columns: minmax(auto,520px) minmax(auto,460px)
  }
  .about-short-info {
    padding-top: 15px
  }
  .about-short-img::before {
    left: -60px
  }
}
@media (min-width:1400px) {
  .about-short {
    padding: 96px 0 120px
  }
  .about-short-info {
    padding-top: 60px
  }
}
.map {
  height: 450px
}
.map iframe {
  border: none;
  margin: 0;
  padding: 0
}
.footer-bottom {
  background: #6a6969;
  padding: 10px 0;
  border-top: 3px solid #767475
}
.footer-bottom-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px
}
.footer-bottom-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff
}
.footer-top {
  background: #1f1d1e;
  padding: 60px 0 40px
}
.footer-top-lists {
  display: none
}
.footer-top-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 40px
}
.footer-top-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 0;
  border: 1.5px solid #9b9b9b
}
.footer-top-item:hover {
  color: #ff1e26
}
.footer-top-item:hover path {
  stroke: #fff
}
.footer-top-item:hover svg {
  width: 20px;
  height: 20px
}
.footer-top-item:hover svg path {
  stroke: #ff1e26
}
.footer-top-item:focus {
  color: #ff1e26
}
.footer-top-item:focus path {
  stroke: #fff
}
.footer-top-item:focus svg {
  width: 20px;
  height: 20px
}
.footer-top-item:focus svg path {
  stroke: #ff1e26
}
.footer-top-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff
}
.footer-top-policy:focus,
.footer-top-policy:hover {
  color: #9b9b9b
}
@media (min-width:576px) {
  .footer-bottom {
    padding: 12px 0 16px
  }
  .footer-bottom-inner {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px
  }
  .footer-top-items {
    grid-template-columns: repeat(2,1fr)
  }
  .footer-top {
    padding: 70px 0 40px
  }
}
@media (min-width:768px) {
  .footer-top {
    padding: 70px 0
  }
  .footer-top-policy {
    display: none
  }
  .footer-top-lists {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px 30px
  }
  .footer-top-items {
    margin-bottom: 48px
  }
  .footer-top-list-title {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
    padding-bottom: 18px;
    font-family: Oswald,sans-serif
  }
  .footer-top-list-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #ff1e26
  }
  .footer-top-list-box {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    gap: 0 12px
  }
  .footer-top-list-box a {
    color: #fff;
    display: block
  }
  .footer-top-list-box a:focus,
  .footer-top-list-box a:hover {
    color: #9b9b9b
  }
  .footer-top-list-box a + a {
    margin-top: 12px
  }
  .footer-top-list-tw {
    grid-column: 1/3
  }
  .footer-top-list-tw .footer-top-list-box {
    columns: 2;
    column-gap: 30px
  }
}
@media (min-width:992px) {
  .footer-top-list-tw {
    grid-column: auto
  }
  .footer-top-list-tw .footer-top-list-box {
    columns: 1
  }
  .footer-top-lists {
    grid-template-columns: repeat(5,1fr)
  }
  .footer-top-items {
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-bottom: 74px
  }
  .footer-top {
    padding: 80px 0
  }
}
@media (min-width:1200px) {
  .footer-top-list-tw {
    grid-column: 4/5
  }
  .footer-top-list-tw .footer-top-list-box {
    columns: 2;
    column-gap: 40px
  }
  .footer-top-lists {
    gap: 40px
  }
  .footer-top-items {
    margin-bottom: 64px
  }
}
.feedback-slider-inner .swiper-pagination {
  margin-top: 20px
}
.feedback-slider-inner .swiper-slide {
  height: auto
}
.feedback-slider-inner .feedback-slider-item {
  height: 100%
}
.feedback {
  padding: 60px 0
}
.feedback-slider-item {
  border: 2px solid #575656;
  padding: 40px 30px;
  display: block
}
.feedback-slider-item:focus,
.feedback-slider-item:hover {
  border-color: #ff1e26
}
.border-tr::after,
.border-tr::before {
  background-color: #fff
}
.feedback-slider-item-head {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px
}
.feedback-slider-item-head-img img {
  height: 48px;
  object-fit: cover
}
.feedback-slider-item-head-info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #242424
}
.feedback-slider-item-head-info-raiting {
  display: flex;
  gap: 8px
}
.feedback-slider-item-head-info-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #9498a6
}
.feedback-slider-item-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  margin-bottom: 16px
}
.feedback-slider-item-info-more {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  color: #9b9b9b
}
@media (min-width:768px) {
  .feedback-slider-inner .swiper-pagination {
    margin-top: 28px
  }
  .feedback {
    padding: 70px 0
  }
}
@media (min-width:992px) {
  .feedback {
    padding: 80px 0
  }
  .feedback-slider-inner .swiper-wrapper {
    gap: 30px
  }
  .feedback-slider-inner .swiper-slide {
    flex: 1 1 auto;
    width: calc(33% - 30px);
    height: auto
  }
  .feedback-slider-inner .swiper-pagination {
    display: none
  }
}
@media (min-width:1200px) {
  .feedback {
    padding: 96px 0
  }
}
.modal {
  max-width: 560px;
  padding: 42px 22px
}
.modal .btn {
  width: 100%
}
.modal .web-check {
  margin-top: 16px
}
.fancybox-bg {
  background: #242424;
  opacity: .6
}
.modal-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  color: #242424;
  margin-bottom: 48px
}
.web-select {
  background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff;
  display: block;
  width: 100%;
  padding: 12px 46px 12px 24px;
  outline: 0;
  appearance: none;
  background-position: calc(100% - 15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  border: 1.5px solid #9b9b9b
}
.web-select:focus {
  border: 1.5px solid #ff1e26
}
.modal-form-box {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px
}
.modal-form-box .web-input {
  flex-basis: 100%;
  max-width: 100%
}
.web-input {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px 10px 24px;
  color: #242424;
  border: 1.5px solid #9b9b9b
}
.web-input::placeholder {
  color: #9b9b9b
}
.web-input:active,
.web-input:focus {
  border: 1.5px solid #ff1e26
}
.modal .fancybox-button {
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  top: 6px;
  right: 6px
}
.modal .fancybox-button svg {
  width: 24px;
  height: 24px;
  display: block
}
.modal .fancybox-button:focus,
.modal .fancybox-button:hover {
  color: #242424
}
.fancybox-slide--html {
  padding: 15px
}
@media (min-width:768px) {
  .modal {
    padding: 64px
  }
  .modal-form-box {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px
  }
  .modal-form-box .web-input {
    flex-basis: calc(50% - 8px);
    max-width: calc(50% - 8px)
  }
  .modal .fancybox-button {
    top: 30px;
    right: 30px
  }
}
.filter {
  padding: 60px 0
}
.filter-wrapper {
  border: 2px solid #575656;
  padding: 30px 15px
}
.filter-head-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  color: #242424;
  font-family: Oswald,sans-serif
}
.filter-head {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px
}
.filter-head-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.tabs-item {
  background: 0 0;
  border: 1.5px solid #9b9b9b;
  padding: 12px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9b9b9b;
  width: 100%
}
.tabs-item.active {
  font-weight: 600;
  color: #fff;
  background: #9b9b9b
}
.filter-body {
  margin-bottom: 32px
}
.filter-body-items {
  display: none;
  margin-top: 15px
}
.filter-body-items.active {
  display: block
}
.filter-control {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px
}
.filter-control .btn {
  width: 100%
}
.filter-control-reset {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9b9b9b;
  font-family: Oswald,sans-serif;
  cursor: pointer
}
.filter-control-link-more {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  color: #ff1e26;
  cursor: pointer
}
.custom-select li {
  display: block
}
.custom-select .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px
}
.custom-select .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 48px
}
.custom-select .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 12px 48px 12px 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  border: 1.5px solid #9b9b9b;
  color: #9b9b9b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.custom-select .select-styled.active {
  border-color: #ff1e26;
  border-bottom: none;
  color: #242424
}
.custom-select .select-styled:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff
}
.custom-select .select-styled.active:after,
.custom-select .select-styled:active:after {
  transform: rotate(180deg)
}
.custom-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1.5px solid #ff1e26;
  border-top: none
}
.custom-select .select-options li {
  margin: 0;
  padding: 12px 24px;
  border-top: 1px solid #e6e6e6;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #242424
}
.custom-select .select-options li.is-selected,
.custom-select .select-options li:hover {
  color: #ff1e26;
  background: #f6f6f9
}
.custom-select .select-options li[rel=hide] {
  display: none
}